@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}


/* hero section styles!! */
.hero-section {
    background-image: url(./assets/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 55rem;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.over-lay {
    position: absolute;
    background-color: #000;
    height: 100%;
    opacity: 43%;
    z-index: -1;
    width: 100%;
}

.intro {
    font-size: 3.6rem;
    padding-bottom: 50px;
}

.role {
    font-size: 1.5rem;
    font-weight: 480;
}


/* about me styles!! */
.card-t {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 10px 0px 30px 0px;
}
.card {
    padding-bottom: 20px;
    /* align-items: center; */
}

.details {
    border: 1px solid #D2D2D2;
    border-left: none;
    border-right: none;
}

.more-info {
    display: flex;
    justify-content: center;
    border: #D2D2D2 solid 1.8px;
    margin: 80px;
    padding: 40px 0px;
    gap: 40px;
}

.about-me {
    width: 48rem;
}

.about-me h2 {
    text-align: center;
    font-size: 2.38rem;
}

.about-me p {
    padding: 20px 50px;
    font-size: 1.4rem;
}

.list {
    font-weight: 600;
    font-size: 1.18rem;
}

.list span {
    font-weight: 300;
}


/* project styles!! */
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
    font-size: 2.38rem;
    margin-bottom: 80px;
}

.card-title {
    font-weight: 500;
    font-size: 1.8rem;
}

