@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}


/* hero section styles!! */
nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 55px;
    align-items: center;
    width: 100vw;
}

.links-container {
    height: 100%;
    /* width: 100%;  */
    display: flex;
    flex-direction: row;
    align-items: center;
} 


.links-container a {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

.logo label {
    font-size: 1.9rem;
    font-weight: 500;
}

.hero-section {
    background-image: url(./assets/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 55rem;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.over-lay {
    position: absolute;
    background-color: #000;
    height: 100%;
    opacity: 43%;
    z-index: -1;
    width: 100%;
}

.intro {
    font-size: 3.6rem;
    padding-bottom: 50px;
}

.role {
    font-size: 1.5rem;
    font-weight: 480;
}

#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}


/* about me styles!! */
.card-t {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 10px 0px 30px 0px;
}
.card {
    padding-bottom: 20px;
    /* align-items: center; */
}

.details {
    border: 1px solid #D2D2D2;
    border-left: none;
    border-right: none;
    width: 21.9rem;
}

.more-info {
    display: flex;
    justify-content: center;
    border: #D2D2D2 solid 1.8px;
    margin: 80px;
    padding: 40px 0px;
    gap: 40px;
}

.about-me {
    width: 48rem;
}

.about-me h2 {
    text-align: center;
    font-size: 2.38rem;
}

.about-me p {
    padding: 20px 50px;
    font-size: 1.4rem;
}

.list {
    font-weight: 600;
    font-size: 1.18rem;
}

.list span {
    font-weight: 300;
}


/* project styles!! */
.projects {
    display: flex;
    justify-content: center;
    gap: 50px;
}



h3 {
    text-align: center;
    font-size: 2.38rem;
    margin-bottom: 80px;
}

.card-title {
    font-weight: 500;
    font-size: 1.8rem;
}


#contact {
    margin-top: 80px;
}

.contact-t h1 {
    padding: 10px 0px 35px 0px;
}


/* footer styles!! */
footer {
    background-color: #D2D2D2;
    padding: 20px 0px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 30px 0px 8px 0px;
    width: 100%;
}

footer p {
    margin: 0;
}

